@{
    ViewData["Title"] = "Two Factor Auth";
}

<h2>2FA Authentication</h2>

<label>Please enter the 6-digit Pin Below:</label>

<input type="text" />

<button type="submit">Submit</button>
<button type="submit">Resend Email</button>