@{
    ViewData["Title"] = "2FA Authentication";
}

<h2>2FA Authentication</h2>

<label>Please enter your 6-digit pin below:</label>

<br />
<br />

<input type="text" />

<br />
<hr />

<button type="submit">Submit</button>
<button type="submit">Resend Email</button>
